.slider-image{
    width: 300px;
    height: 150px;
    border-radius: 9px;
}
.popup-div{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
}
.close-button{
    border: 0px;
    background-color: black;
    color: white;
    outline: none;
    margin-top: 15px;
}